APP_NAME="CFE PRO"APP_NAME="CFE PRO"

APP_ENV=localAPP_TITLE=""

APP_KEY=base64:9D+iVkW1NqpPlozajnwTWdnYD+4rpd2dXgoTTdDOp8A=APP_ENV=local

APP_DEBUG=trueAPP_KEY=base64:9D+iVkW1NqpPlozajnwTWdnYD+4rpd2dXgoTTdDOp8A=

APP_URL=http://localhostAPP_DEBUG=true

APP_NAME="CFE PRO"

LOG_CHANNEL=stackAPP_ENV=local

APP_KEY=base64:9D+iVkW1NqpPlozajnwTWdnYD+4rpd2dXgoTTdDOp8A=

DB_CONNECTION=sqliteAPP_DEBUG=true

DB_DATABASE=c:\\Users\\Ruben\\Documents\\sistema facturacion\\sistema facturacion php\\database\\database.sqliteAPP_URL=http://localhost



CACHE_DRIVER=fileLOG_CHANNEL=stack

SESSION_DRIVER=file

QUEUE_CONNECTION=syncDB_CONNECTION=sqlite

DB_DATABASE=c:\\Users\\Ruben\\Documents\\sistema facturacion\\sistema facturacion php\\database\\database.sqlite

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync